Repository WhatToWatch-Groupe4/monorepo, pull requests merged in 2021-02, with the labels that each got.

#29 feature/setup-db
  apps/api/package.json
  apps/api/src/app.module.ts
  yarn.lock
Labels: api

#31 feat(web): setup tailwindcss and add croco
  apps/web/craco.config.js
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/tailwind.config.js
  yarn.lock
Labels: frontend

#37 feature/common-eslint
  apps/api/.eslintrc.js
  apps/api/.eslintrc.json
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.module.ts
  apps/api/test/app.e2e-spec.ts
  apps/web/.eslintrc.json
  apps/web/package.json
  apps/web/src/keycloak.ts
  libs/eslint-config/.eslintignore
  libs/eslint-config/.eslintrc.json
  libs/eslint-config/index.js
  libs/eslint-config/package.json
  package.json
Labels: api, frontend

#44 fix(api): load config module on app module
  apps/api/src/app.module.ts
Labels: api, bug

#47 fix(api): add passport deps
  apps/api/package.json
  yarn.lock
Labels: api, bug

#64 docs/howto
  .gitignore
  README.md
  apps/api/package.json
  apps/web/.env.example
  apps/web/package.json
  docker-compose.yml
  lerna.json
  package.json
Labels: documentation

#51 Feature/wish list
  apps/api/src/app.module.ts
  apps/api/src/wishlist/wishlist.controller.ts
  apps/api/src/wishlist/wishlist.dto.ts
  apps/api/src/wishlist/wishlist.entity.ts
  apps/api/src/wishlist/wishlist.module.ts
  apps/api/src/wishlist/wishlist.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/ButtonView.tsx
  apps/web/src/components/MovieShow.tsx
  apps/web/src/components/WishButton.tsx
  apps/web/src/components/WishList.tsx
Labels: api, enhancement, frontend
